body {
   font-family: 'Open Sans', sans-serif;
   margin: 50px 75px 50px 75px;
}

img {
   width: 256px;
   height: 256px;
}

#page_title {
   font-size: 36px;
}

#page_author {
   font-size: 22px;
}
